<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Groceries</title>

    <style>
        .inline {
            display: inline-block;
        }

    </style>
</head>

<body>
<h1>Groceries</h1>
<ul>
    <li th:each="item : ${items}">
        <form method="post" th:action="@{/item/{id}/edit(id=${item.id})}" th:object="${item}" class="inline">
            <input th:value="*{bought}" name="bought" type="hidden"/>
            <input th:value="*{order}" name="order" type="number" step="any"/>
            <input th:value="*{amount}" name="amount" type="number" step="any"/>
            <input th:value="*{unit}" name="unit" type="text"/>
            <input th:value="*{name}" name="name" type="text"/>
            <input th:value="*{{after}}" name="after" type="date"/>
            <input th:value="*{{before}}" name="before" type="date"/>
            <input type="submit" value="Edit"/>
        </form>

        <form method="post" th:action="@{/item/{id}/buy(id=${item.id})}" th:object="${item}" class="inline">
            <input type="submit" value="Bought"/>
        </form>

        <form method="post" th:action="@{/item/{id}/delete(id=${item.id})}" th:object="${item}" class="inline">
            <input type="submit" value="Delete"/>
        </form>
    </li>
</ul>

<form method="post" th:action="@{/add}" th:object="${prototype}">
    <input th:field="*{order}" type="number" step="any"/>
    <input th:field="*{amount}" type="number" step="any"/>
    <input th:field="*{unit}" type="text"/>
    <input th:field="*{name}" type="text"/>
    <input th:value="*{{after}}" name="after" type="date"/>
    <input th:value="*{{before}}" name="before" type="date"/>
    <input type="submit" value="Add"/>
</form>

<h1>Bought</h1>
<ul>
    <li th:each="item : ${bought}">
        <form method="post" th:action="@{/item/{id}/edit(id=${item.id})}" th:object="${item}" class="inline">
            <input th:value="*{bought}" name="bought" type="hidden"/>
            <input th:value="*{order}" name="order" type="number" step="any"/>
            <input th:value="*{amount}" name="amount" type="number" step="any"/>
            <input th:value="*{unit}" name="unit" type="text"/>
            <input th:value="*{name}" name="name" type="text"/>
            <input th:value="*{{after}}" name="after" type="date"/>
            <input th:value="*{{before}}" name="before" type="date"/>
        </form>

        <form method="post" th:action="@{/item/{id}/restore(id=${item.id})}" th:object="${item}" class="inline">
            <input type="submit" value="Restore"/>
        </form>

        <form method="post" th:action="@{/item/{id}/delete(id=${item.id})}" th:object="${item}" class="inline">
            <input type="submit" value="Delete"/>
        </form>
    </li>
</ul>
</body>
</html>
